/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 50px auto;
    /* Reduce nav width */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header "
        "nav nav"
        "main main";
    height: 100vh;
    margin: 0;
}

nav {
    grid-area: nav;
    background-color: #414177;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

main {
    grid-area: main;
    background-color: #f4f4f4;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #6f6fd3;
    grid-column: 1 / -1;
}

.logo {
    color: whitesmoke;
    font-size: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Space between notification and profile */
}

.notification {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
}

.notification::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: white;
}

.notification svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #ccc;
    transition: transform 0.3s ease, color 0.3s ease;
}

.notification svg:hover {
    transform: scale(1.2) rotate(15deg);
    color: #fff;
}

.notification:hover .badge {
    animation: pulse 1s infinite;
}

/* Style to position notification list below the header */
.notification-list {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    /* Hidden by default */
}

.notification-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-item:last-child {
    border-bottom: none;
    /* No border for the last item */
}

.notification-item .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
}

.notification-list .alert-close {
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
}


/* Badge (Green dot) */
.badge {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    left:15px;
    transform: translate(50%, -50%);
    display: block;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.profile {
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-size: 14px;
}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


nav ul {
    display: flex;
    /* Schimbat la layout pe orizontală */
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 0;
    /* Eliminat spațiul vertical */
    text-align: center;
}

nav ul li svg {
    fill: #ccc;
    width: 40px;
    /* Ajustat la dimensiuni mai mici */
    height: 40px;
}

/* Widgets and Sections */


.dashboard-content {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    background-color: white;
}

/* Dashboard header styles */
.dashboard-header {
    display: flex;
    flex:1;
    align-items: center;
    background-color: #e0e0e0; /* Light gray for the background */
    padding: 0; /* Remove any padding */
    margin: 0; /* Ensure it's attached to other elements */
    grid-area: header; /* Ensures it's in the header grid area */
}

/* White background just for the text "Dashboard" */
.dashboard-header h1 {
    display: inline-block;
    background-color: white; /* White background for the text */
    padding: 10px 20px; /* Add padding around the text */
    margin: 0; /* No margin */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    border-radius: 5px 5px 0 0; /* Slight rounding on the top corners */
}


/* Alert */
.alert {
    grid-column: 1/ -1;
    display: flex;
    width: 100%;
    background-color: #8282ee;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-size: 16px;
}

.alert-close {
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
    line-height: 20px;
}

.alert-close:hover {
    color: #d1d1d1;
}

/* Traffic Widget */
.traffic-widget {
    grid-column: 100%;
    position: relative;
    margin: 0 auto;
}



.traffic-widget h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.traffic-chart {
    width: 100%;
}

.time-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.time-buttons button {
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.time-buttons button:hover,
.time-buttons button:focus {
    background-color: #45a049;
}

/* Daily Traffic */
.daily-traffic {
    height: 300px;
}

.daily-traffic h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.daily-traffic canvas {
    width: 100%;
    height: 190px;
}

/* Mobile Users */
.mobile-users {
    height: 300px;
}

.mobile-users h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.mobile-users canvas{
    height: 190px;
}

/* Social Stats Section */
.social-stats {
    grid-template-columns: 1fr;
    gap: 20px;
}

.social-stats h2 {
    grid-column: 1 / -1;
    font-size: 20px;
    margin-bottom: 15px;
}

.social-box {
    display: flex;
    flex:1;
    justify-content: left;
    font-size: 18px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.social-text {
    display: flex;
    flex-direction: column;
}

.social-name {
    margin-top:10px;
    margin-left:3px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.followers-count {
    margin-left:3px;
    font-size: 40px;
    color: #8282ee;
}
.icon-circle {
    width: 70px; /* Setează dimensiunea cercului */
    height: 70px; /* Setează dimensiunea cercului */
    background-color: #414177; /* Fundalul cercului (opțional) */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Face containerul rotund */
}

.icon-circle svg {
    width: 40px; /* Dimensiunea SVG-ului */
    height: 40px; /* Dimensiunea SVG-ului */
    fill: white; /* Culoarea SVG-ului (poate fi modificată) */
}

/* New Members Section */
.new-members h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.new-members ul {
    list-style: none;
    padding: 0;
}

.new-members ul li {
    display: flex;
    flex-direction: column;
    /* Schimbat la stivuire pe verticală */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


.new-members img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member-details {
    flex-grow: 1;
    text-align: center;
}

.member-name,
.member-email {
    display: block; /* Pe linii diferite implicit */
}

.member-name {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.member-email {
    font-size: 12px;
    color: #8282ee;
    text-decoration: none;
}

.member-email:hover {
    text-decoration: underline;
}

.member-date {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    /* Spațiu suplimentar */
}

/* Recent Activity Section */

.recent-activity h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.recent-activity ul {
    list-style: none;
    padding: 0;
}

.recent-activity ul li {
    display: flex;
    flex-direction: column;
    /* Schimbat la stivuire pe verticală */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.recent-activity ul li::after {
    content: '\003e'; /* Unicode for the ">" symbol */
    font-size: 16px;
    color: #8282ee; /* You can change this color if needed */
    display: none; /* Hidden by default */
    margin-left: 10px; /* Add space between text and arrow */
    position: absolute; /* Position it at the right */
    right: 10px; /* Align to the right of the card */
    top: 50%;
    transform: translateY(-50%);
}

.recent-activity img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.activity-details {
    flex-grow: 1;
    text-align: center;
    /* Aliniere centrală */
}

.activity-member {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.activity-action {
    font-size: 12px;
    color: #666;
}

.activity-topic {
    font-weight: bold;
    font-size: 14px;
    color: #8282ee;
}

.activity-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    /* Spațiu suplimentar */
}

/* Hover effect for recent activity */
.recent-activity ul li:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Settings Section */
.settings {
    display: grid;
    grid-template-columns: 1fr 190px; /* Two columns: text and slider */
    grid-gap: 20px; /* Gap between items */
    align-items: center;
}

.settings h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.settings .container{
    grid-column: 2;
    justify-self: start;
}

.settings label {
    display: contents;
    width: 100%;
}

.settings label span {
    grid-column: 1;
}

.settings select {
    grid-column: 1/-1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
}

.container {
    position: relative;
    width: 60px;
    height: 34px;
}

.container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    grid-column: 2;
    width: 80px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}


.slider:before {
    position: absolute;
    content: "OFF";
    /* Text implicit */
    height: 22px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked+.slider {
    background-color: #7c71b6;
}

input:checked+.slider:before {
    transform: translateX(24px);
    content: "ON";
}

/* Add ON/OFF text next to the switches */
.switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.switch .on-off-text {
    color: #666;
    font-size: 14px;
}

.switch .container {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Buttons */
.save-button,
.cancel-button {
    width: 48%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.save-button {
    background-color: #8282ee;
    color: white;
    border: none;
}

.cancel-button {
    background-color: gray;
    color: #324561;
    border: none;
}

.button-group {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Message User */
.message-user {
    grid-row: 8;
    padding: 20px;

}

.message-user h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.search-user {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
}

.message-textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
}

.send-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    background-color: #8282ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #414177;
}

.traffic-widget,
.daily-traffic,
.social-stats,
.mobile-users,
.new-members,
.recent-activity,
.message-user,
.settings {
    width: 100%;
    overflow: hidden;
    background-color: #ececec;
    padding: 20px;
}

.daily-traffic, .mobile-users{
    padding:37px;
}

.social-stats{
    display:grid;
}

.new-members ul li:last-child,
.recent-activity ul li:last-child {
    border-bottom: none;
}


    h2{
        flex-grow: 1;
    }
    .time-buttons {
        flex-wrap: wrap; /* Allow wrapping */
        flex-grow: 1;
        justify-content: left; /* Center buttons when wrapping */
        gap: 2px; /* Reduce gap between buttons */
    }

    .time-buttons button {
        padding: 3px 7px; /* Reduce padding for smaller screens */
        font-size: 10px; /* Smaller font size */
    }



    .traffic-chart, .daily-traffic canvas, .mobile-users canvas {
        height: auto; /* Make canvas responsive */
        width: 100%; /* Full width */
    }


/* 768px - 1023px */
@media screen and (min-width:768px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Martel Sans', sans-serif;
    }

    body {
        display: grid;
        grid-template-columns: 70px auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header header "
            "nav main";
        height: 100vh;
        margin: 0;
    }

    .recent-activity ul li {
        position: relative;
    }

    .recent-activity ul li::after {
        display: inline-block; /* Show the arrow */
    }
    nav ul {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        /* Schimbă layout-ul pe verticală */
        justify-content: flex-start;
        /* Alinează elementele de la început */
        align-items: center;
        /* Alinează elementele pe orizontală la centru */
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100vh;
        padding-top: 20px;
    }


    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .time-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 10px;
    }
    
    .time-buttons button {
        color: black;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .new-members ul, .recent-activity ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .new-members ul li, .recent-activity ul li {
        display: flex;
        flex-direction: row;
        align-items: left;
        flex-grow: 1;
        justify-content: space-between;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .act, .activity-details, .member-details{
        text-align: left;
        margin-left: 10px;
    }

    .member-details {
        flex-grow: 1;
    }
    
    
    .member-email {
        display: block;
    }

    .activity-time{
        margin-left: 10px;
    }


    nav ul li {
        margin-bottom: 20px;
    }

    .dashboard-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .traffic-widget,
    .social-stats,
    .new-members,
    .recent-activity,
    .message-user,
    .settings {
        grid-column: 1 / -1;
    }

    .daily-traffic {
        grid-column: 1;
    }

    .mobile-users {
        grid-column: 2;
    }

    .message-user {
        grid-row: 7;
    }

    .social-stats{
        grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
        gap: 20px; /* Space between the columns */
        align-items: left;
    }

    .settings{
        grid-template-columns: 1fr 400px;
    }
}

/* Peste 1024px */
@media screen and (min-width:1024px) {

    .alert {
        width: 100%;
    }

    .traffic-widget{
        height:450px;
    }

    .traffic-chart{
        height:390px;
    }

    .traffic-widget,
    .social-stats {
        grid-column: 1 / -1;
    }

    .daily-traffic,
    .new-members,
    .message-user {
        grid-column: 1 / 2;
    }

    .recent-activity,
    .settings,
    .mobile-users {
        grid-column: 2 / 3;
    }

    .message-user,
    .settings {
        grid-row: 6;
    }

 
}